In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/vehcile-fuel-consumption/fuel.csv

In [2]:
df=pd.read_csv('/kaggle/input/vehcile-fuel-consumption/fuel.csv')

/tmp/ipykernel_19/4171436588.py:1: DtypeWarning: Columns (7,44) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('/kaggle/input/vehcile-fuel-consumption/fuel.csv')

In [3]:
df.head()

,vehicle_id,year,make,model,class,drive,transmission,transmission_type,engine_index,engine_descriptor,...,hours_to_charge_ac_240v,composite_city_mpg,composite_highway_mpg,composite_combined_mpg,range_ft1,city_range_ft1,highway_range_ft1,range_ft2,city_range_ft2,highway_range_ft2
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,NaN,Manual 5-Speed,NaN,9001,(FFS),...,0.0,0,0,0,0,0.0,0.0,NaN,0.0,0.0
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,NaN,Manual 5-Speed,NaN,9005,(FFS) CA model,...,0.0,0,0,0,0,0.0,0.0,NaN,0.0,0.0
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,NaN,Manual 5-Speed,NaN,9002,(FFS),...,0.0,0,0,0,0,0.0,0.0,NaN,0.0,0.0
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,NaN,Manual 5-Speed,NaN,9006,(FFS) CA model,...,0.0,0,0,0,0,0.0,0.0,NaN,0.0,0.0
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,2-Wheel Drive,Automatic 3-Speed,NaN,1830,(FFS),...,0.0,0,0,0,0,0.0,0.0,NaN,0.0,0.0

In [4]:
df.shape

(38113, 81)

In [5]:
df.isnull().sum()

vehicle_id               0
year                     0
make                     0
model                    0
class                    0
                     ...
city_range_ft1           0
highway_range_ft1        0
range_ft2            38113
city_range_ft2           0
highway_range_ft2        0
Length: 81, dtype: int64

In [6]:
df.columns

Index(['vehicle_id', 'year', 'make', 'model', 'class', 'drive', 'transmission',
       'transmission_type', 'engine_index', 'engine_descriptor',
       'engine_cylinders', 'engine_displacement', 'turbocharger',
       'supercharger', 'fuel_type', 'fuel_type_1', 'fuel_type_2',
       'city_mpg_ft1', 'unrounded_city_mpg_ft1', 'city_mpg_ft2',
       'unrounded_city_mpg_ft2', 'city_gasoline_consumption_cd',
       'city_electricity_consumption', 'city_utility_factor',
       'highway_mpg_ft1', 'unrounded_highway_mpg_ft1', 'highway_mpg_ft2',
       'unrounded_highway_mpg_ft2', 'highway_gasoline_consumption_cd',
       'highway_electricity_consumption', 'highway_utility_factor',
       'unadjusted_city_mpg_ft1', 'unadjusted_highway_mpg_ft1',
       'unadjusted_city_mpg_ft2', 'unadjusted_highway_mpg_ft2',
       'combined_mpg_ft1', 'unrounded_combined_mpg_ft1', 'combined_mpg_ft2',
       'unrounded_combined_mpg_ft2', 'combined_electricity_consumption',
       'combined_gasoline_consumption_cd', 'combined_utility_factor',
       'annual_fuel_cost_ft1', 'annual_fuel_cost_ft2', 'gas_guzzler_tax',
       'save_or_spend_5_year', 'annual_consumption_in_barrels_ft1',
       'annual_consumption_in_barrels_ft2', 'tailpipe_co2_ft1',
       'tailpipe_co2_in_grams_mile_ft1', 'tailpipe_co2_ft2',
       'tailpipe_co2_in_grams_mile_ft2', 'fuel_economy_score', 'ghg_score',
       'ghg_score_alt_fuel', 'my_mpg_data', 'x2d_passenger_volume',
       'x2d_luggage_volume', 'x4d_passenger_volume', 'x4d_luggage_volume',
       'hatchback_passenger_volume', 'hatchback_luggage_volume',
       'start_stop_technology', 'alternative_fuel_technology',
       'electric_motor', 'manufacturer_code',
       'gasoline_electricity_blended_cd', 'vehicle_charger',
       'alternate_charger', 'hours_to_charge_120v', 'hours_to_charge_240v',
       'hours_to_charge_ac_240v', 'composite_city_mpg',
       'composite_highway_mpg', 'composite_combined_mpg', 'range_ft1',
       'city_range_ft1', 'highway_range_ft1', 'range_ft2', 'city_range_ft2',
       'highway_range_ft2'],
      dtype='object')

In [7]:
df=df[['vehicle_id', 'year', 'make', 'model', 'class', 'drive', 'transmission', 'engine_index', 'engine_descriptor']]

In [8]:
df.head()

,vehicle_id,year,make,model,class,drive,transmission,engine_index,engine_descriptor
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,NaN,Manual 5-Speed,9001,(FFS)
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,NaN,Manual 5-Speed,9005,(FFS) CA model
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,NaN,Manual 5-Speed,9002,(FFS)
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,NaN,Manual 5-Speed,9006,(FFS) CA model
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,2-Wheel Drive,Automatic 3-Speed,1830,(FFS)

In [9]:
df['year'].unique()

array([1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994,
       1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005,
       2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016,
       2017])

In [10]:
df.isnull().sum()

vehicle_id               0
year                     0
make                     0
model                    0
class                    0
drive                 1189
transmission            11
engine_index             0
engine_descriptor    15420
dtype: int64

In [11]:
df['class'].value_counts().reset_index()

                                 class  count
0                         Compact Cars   5508
1                      Subcompact Cars   4872
2                         Midsize Cars   4395
3               Standard Pickup Trucks   2354
4          Sport Utility Vehicle - 4WD   2082
5                           Large Cars   1891
6                          Two Seaters   1886
7          Sport Utility Vehicle - 2WD   1627
8                 Small Station Wagons   1499
9             Special Purpose Vehicles   1455
10                    Minicompact Cars   1260
11          Standard Pickup Trucks 2WD   1177
12                                Vans   1141
13          Standard Pickup Trucks 4WD    986
14        Midsize-Large Station Wagons    656
15         Special Purpose Vehicle 2WD    613
16                 Small Pickup Trucks    538
17     Small Sport Utility Vehicle 4WD    526
18              Midsize Station Wagons    523
19                    Vans, Cargo Type    438
20             Small Pickup Trucks 2WD    436
21  Standard Sport Utility Vehicle 4WD    434
22     Small Sport Utility Vehicle 2WD    403
23                       Minivan - 2WD    342
24                Vans, Passenger Type    311
25         Special Purpose Vehicle 4WD    302
26             Small Pickup Trucks 4WD    218
27  Standard Sport Utility Vehicle 2WD    182
28                       Minivan - 4WD     47
29          Standard Pickup Trucks/2wd      4
30        Special Purpose Vehicles/4wd      2
31        Special Purpose Vehicles/2wd      2
32                      Vans Passenger      2
33             Special Purpose Vehicle      1

In [12]:
df['model'].value_counts().reset_index().head(10)

               model  count
0    F150 Pickup 2WD    209
1          Truck 2WD    187
2    F150 Pickup 4WD    187
3            Mustang    184
4              Jetta    172
5  Ranger Pickup 2WD    169
6             Camaro    166
7              Civic    152
8    Sierra 1500 4WD    149
9    Sierra 1500 2WD    149